@using MyNotes.BusinessLayer
@{
    NoteManager nm = new NoteManager();
    var lst = nm.List();
}

@{
    ViewBag.Title = "Home Page";
}
<section class="py-5">
    <div class="container-fluid px-4 px-lg-5 mt-3">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-3 justify-content-center">
            @{
                int i = 0;
            }
            @foreach (var note in lst)
            {
                <div class="col mb-3">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4 px-1">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@note.Tittle</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-between small">

                                    <div>
                                        <i class="far fa-user"></i>

                                        @note.Owner.UserName
                                    </div>

                                    <div>
                                        <i class="far fa-clock"></i>

                                        @note.Owner.ModifiedOn.
                                    </div>
                                </div>
                                <p class="card-text">
                                    @if (string.IsNullOrEmpty(note.Text) == false & note.Text.Length > 70)
                                    {
                                        @(note.Text.Substring(0,70)) <span class="text-danger" style="display:inline-block">@("...")</span>
                                    } 
                                    else if (string.IsNullOrEmpty(note.Text))
                                    {
                                        <span class="text-danger">@("...")</span>
                                    }
                                    else
                                    {
                                        @note.Text
                                    }
                                </p>
                            </div>
                        </div>
                        <hr />
                        <!-- Product actions-->
                        <div class="bg-transparent d-flex justify-content-between">
                            <p>
                                @*button.btn.btn-outline-light.text-dark.btn-sm>i.bi-star.text-danger*@

                                <button class="btn btn-outline-light text-dark btn-sm">
                                    <i class="bi-heart-fill text-danger"></i> @note.LikeCount
                                </button>
                            </p>
                            <p>
                                <button type="button" class="btn btn-outline-light text-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modal_comment" data-note-id="@note.Id">
                                    <i class="bi bi-chat-left-dots-fill text"></i> Yorumlar
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            }

            
        </div>
    </div>
</section>

@Bootstrap.ModalPopup("modal_comment","Yorumlar")
<script src="../../Scripts/jquery-3.6.0.min.js"></script>

<script>
    var noteId = -1; // Artık noteId nin bir number oldugunu söylüyor. Burda type sabit let dediken sonra noteId artık -1 dir.
    var modalCommentBodyId = "#modal_comment_body";

    $(function() {
        $('#modal_comment').on('show.bs.modal',
            function(e) {
                var btn = $(e.relatedTarget);
                
                noteId = btn.data("note-id"); // Butona tıkladığımda buonun idsinde kaç yazıyorsa onu alır.
                 // String İnterpullation varmış burda bak
                $(modalCommentBodyId).load("/Comment/ShowNoteComment/" + noteId);

            });
    });

    function doComment(btn, e, commentId, spanId) { // Amaç Bir Butonun enable özelliğini acip kapatmak.
        var button = $(btn);
        var mode = button.data('edit-mode');
        if (e === 'edit_clicked') {
            if (!mode) {
                button.data('edit-mode', true);
                button.removeClass('btn-warning'); //warning sari rengi verir .
                button.addClass('btn-success'); // Sari rengi kaldırıp yeşili ver demektir.
                var btnSpan = button.find('span'); // Buttonun içerisinde ki span tag ini bulmasını soyluyorum
                btnSpan.removeClass('bi-pencil'); // Bu span tagını Class ını remove edip, yerine check ikonu koy.
                btnSpan.addClass('bi-check'); // pencil check e döndü
                $(spanId).addClass('editable'); // Editable izni vermek icin oraya bir tane class oluşturudum 
                $(spanId).attr('contenteditable', true);
                $(spanId).focus();
            } else {
                button.data('edit-mode', false);
                button.removeClass('btn-success');
                button.addClass('btn-warning');
                var btnSpan = button.find('span');
                btnSpan.removeClass('bi-check');
                btnSpan.addClass('bi-pencil');
                $(spanId).addClass('editable');
                $(spanId).attr('contenteditable', false);
                $(spanId).focus();

                var txt = $(spanId).text();
                console.log(txt);
                $.ajax({
                    method: "POST",
                    url: "/Comment/Edit/" + commentId, //edit action u tetiklenecek bu tetiklenirken yanında comment 
                    data: { text: txt }                 // götürecek.
                }).done(function (data) {
                    if (data.result) {
                        //yorumlari tekrar yukleme
                        $(modalCommentBodyId).load("/Comment/ShowNoteComments/" + noteId);
                        
                    } else {
                        alert("Yorumunuz Guncellenemedi.");
                    }
                }).fail(function () {
                    alert("Sunucu ile baglanti kurulamadi.");
                });
            }
        }
    }

    
</script>



